/* available jobs page */
body {
  background: #eef2f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

#HeadText {
  font-size: 36px;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #1622377f;
}

.card-wrap {
  width: 220px;
  min-height: 120px;
  height: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: #6492e2;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: inline-block;
  margin: 1rem;

}

.card-wrap:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 720px) {
  .card-wrap {
    width: 340px;
    min-height: auto;
  }
  #HeadText {
    margin-top: 3rem;
  }
}

.card-text {
  margin: 2rem;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}




/* single job card */
.card-main {
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-text2 {
  font-size: 32px;
  font-weight: bold;
  margin: 2rem;
  color: #6492e2;
  text-transform: uppercase;
}

#Desc {
  font-size: 21px;
  margin: 2rem;
  color: #6492e2e4;
}

#Typetext {
  font-size: 20px;
  margin: 2rem;
  color: #2d2d53;
}



/*all jobs-button */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #6492e2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3rem
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}